<div class="content-wrapper">
    <div class="comment-list comment-wrapper f-dn">
        <div class="empty-comments comment-item clearfix">Empty Comments</div>
    </div>
    <div class="editor-wrapper f-dn">
        <div class="editor">
        </div><!--
        --><div>
            <img class="user-avatar" src=""/>
            <i class="fa fa-sign-out" title="sign out" data-action="logout"></i>
        </div>
    </div>
    <div class="auth-wrapper f-dn">
        <div class="description">
            <div class="title">Sign in <a href="{{host}}" target="_blank">{{system}}</a></div>
            <div class="content">
                <p>As the plugin is integrated with a code management system like GitLab or GitHub, you may have to auth
                    with your account before leaving comments around this article.</p>
                <p>Notice: This plugin has used Cookie to store your token with an expiration.</p>
            </div>
        </div>
        <div class="auth">
            <button class="btn auth-btn">authorize</button>
        </div>
    </div>
</div>
