<div class="content-wrapper f-dn">
    <div class="content">
        <div class="empty-comments comment-item clearfix">Empty Comments</div>
    </div>
    <div class="editor">
    </div><!--
 --><div>
        <img class="user-avatar" src=""/>
        <i class="fa fa-sign-out" title="sign out" action="logout"></i>
    </div>
</div>
