{{#if copyright}}
    <div class="comment-copyright">
        <span class="title">Comments</span>
        <span class="content">
                {{copyright}} all right reserved, powered by
                <a href="https://github.com/aleen42" target="_blank">aleen42</a>
            </span>
    </div>
{{/if}}
