<div id="comment-wrapper" class="comment-wrapper clearfix">
    {{{copyright}}}

    {{#each modules}}
        <div class="modules">{{{this}}}</div>
    {{/each}}

    <script type="text/javascript">
        SYS_CONST = JSON.parse('{{{SYS_CONST}}}');
    </script>
</div>
