.clearfix {
    zoom: 1;
}

.clearfix:before,
.clearfix:after {
    display: table;
    content: " ";
}

.clearfix:after {
    clear: both;
}

.f-dn {
    display: none;
}

.comment-wrapper {
    margin-top: 50px;
    padding: 10px 0 20px;
    font-size: 12px;
}

.comment-wrapper .modules {
    margin-top: 60px;
}

.comment-wrapper .modules .description {
    width: calc(100% - 200px);
    padding-right: 30px;
}

.comment-wrapper .modules .description .title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
}

.comment-wrapper .modules .description .content {
    color: #cdcdcd;
}

.comment-wrapper .modules .btn:focus {
    border: none;
}

.comment-wrapper .modules .btn {
    display: inline-block;
    float: right;
    width: 200px;
    height: 36px;
    border-radius: 4px;
    color: #aeaeae;
    background-color: #333;
    border: none;
    font-size: 16px;
}

.comment-copyright {
    float: right;
    border-bottom: 1px solid #ccc;
}

.comment-copyright .title {
    font-size: 20px;
}

.comment-copyright .content {
    margin-left: 5px;
    color: #cdcdcd;
    font-size: 10px;
}
