<div class="loading-item">
    <div class="loading">
        <div class="rect1" style="background-color: rgb(0, 0, 0); animation-delay: -1.08s;"></div>
        <div class="rect2" style="background-color: rgb(0, 0, 0); animation-delay: -0.96s;"></div>
        <div class="rect3" style="background-color: rgb(0, 0, 0); animation-delay: -0.84s;"></div>
        <div class="rect4" style="background-color: rgb(0, 0, 0); animation-delay: -0.72s;"></div>
        <div class="rect5" style="background-color: rgb(0, 0, 0); animation-delay: -0.6s;"></div>
    </div>
</div>
